@tailwind base;

@tailwind components;

@tailwind utilities;

/* prevent -internal-autofill-selected */
input:-webkit-autofill {
  -webkit-transition: background-color 9999s;
  transition: background-color 9999s;
}

html,
body {
  height: 100%;
  width: 100%;
}

@keyframes one-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
