@tailwind base;

@tailwind components;

@tailwind utilities;

/* prevent -internal-autofill-selected */
input:-webkit-autofill {
  -webkit-transition: background-color 9999s;
  transition: background-color 9999s;
}